@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  // outline: 1px red solid;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  button {
    border: 2.5px solid #0d6efd;
    margin-bottom: 0rem;
    padding: 0.7rem;
    padding-right: 1rem;
    padding-left: 10px;
    font-weight: 700;
    background-color: #fff;
    color: #0d6efd;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    &:hover {
      background-color: #0d6efd;
      color: white;
    }
  }
}

.btn-hover {
  // transform: translate(5px, -5px);
  transform: scale(1.05);
  // box-shadow: -4px 4px 0px 0px hsla(216, 98%, 50%, 0.4);
}
.btn-hover-leave {
  transform: translate(0px, 0px);
  box-shadow: none;
}

header {
  display: flex;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      align-self: center;
    }
    img:nth-child(1) {
      width: 75px;
    }
  }
  #bm-logo {
    width: 55px;
  }
}

#upload-button {
  width: 165px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  left: 3px;
  p {
    margin: 0;
  }
}

#file-to-upload {
  display: none;
}

#pdf-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

#pdf-loader {
  display: none;
  text-align: center;
  color: #999999;
  font-size: 13px;
  line-height: 100px;
  height: 100px;
}

#pdf-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
}

#pdf-meta {
  overflow: hidden;
  margin: 0 0 20px 0;
}

#pdf-buttons {
  float: left;
}

#page-count-container {
  float: right;
}

#pdf-current-page {
  display: inline;
}

#pdf-total-pages {
  display: inline;
}

#pdf-canvas {
  box-sizing: border-box;
}

#page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: none;
  color: #999999;
  font-size: 13px;
}

#download-image {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto 0 auto;
  margin-top: 0;
  font-size: 13px;
  text-align: center;
  border: 2.5px solid #0d6efd;
  background-color: #0d6efd;
  color: #fff;
  padding: 0.7rem;
  padding-right: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  right: 3px;
  &:hover {
    background-color: #0d6dfdde;
    border: 2.5px solid #0d6dfdde;
  }
  img {
    width: 24px;
  }
}

#return-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  right: 5px;
  &:hover {
    // border-bottom: 2px solid #0000ee;
    text-decoration: underline;
  }
  img {
    margin-right: 5px;
  }
}

.lds-ring {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0d6efd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 385px) {
  #pdf-contents {
    width: 260px;
  }
  #upload-button {
    margin-bottom: 0.5rem !important;
  }
  #bm-logo {
    width: 40px !important;
  }
  #upload-button,
  #download-image {
    border-top: 1rem;
    left: 0px;
    right: 0px;
  }
  #upload-button {
    top: 12px;
  }
}
@media only screen and (max-width: 725px) {
  header {
    h4 {
      font-size: 14px;
    }
  }
}

#preload-01 {
  background: url("../resources/file.svg") no-repeat -9999px -9999px;
}
#preload-02 {
  background: url("../resources/file-white.svg") no-repeat -9999px -9999px;
}
